body{
    background-image: url('../Images/Celeste_img.png');
    padding: 0;
    margin: 0;
    font-family: Poppins;
    background-size: 100vw 100vh;
    background-clip:border-box;
    background-repeat: no-repeat;
    transition: 1s;
}

.em_volta{
    height: 98vh;
    border: 1vh solid black;
    box-shadow: inset 10px 10px 50px black;
    transition: 1s;
}

.container{
    display: flex;
    justify-content: center;
    color: #fff;
    transition: 1s;
}
.card_inicial{
    display: flex;
}
.card_cadastro{
    display: none;
    opacity: 0;
}
.card{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: solid rgba(0, 0, 0, 0.9) 3px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 80vh;
    width: 800px;
    flex-direction: column;
    font-size: 3;
    transition: 1s;
}
.card:hover{
    border-color: rgba(0, 0, 0, 1);
    background-color: rgba(0,0,0, 0.8);
}

.card.card_cadastro{
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    transition: 1s;
}

.img_titulo{
    height: 50px;
    text-shadow: 0 0 20px pink;
}
.ocupar_espaço{
    height: 70px;
}
.label_cadastro{
    margin-top: 10px;
}
#botao_voltar_login {
    cursor: pointer;
    align-self: flex-start;
    position: fixed;
    padding: 20px;
    margin-left: 0;
    margin-top: 20px;
    margin-right: 700px;
}
.input_login{
    width: 250px;
    height: 30px;
    font-size: 25px;
    border: blue solid 2px;
    border-radius: 10px;
}


.organizar_botoes{
    flex-direction: column;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
}

.botoes_de_baixo{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    border-radius: 15px;
    width: 200px;
    border: groove 2px #fff;
    cursor: pointer;
}
.botao_login:hover{
    background-color: blue;
    letter-spacing: 3px;
    box-shadow: 0 0 35px blue;
} 
.botao_cadastrar:hover{
    background-color: orangered;
    letter-spacing: 3px;
    box-shadow: 0 0 35px orangered;
} 
.botao_visitante:hover{
    background-color: greenyellow;
    letter-spacing: 3px;
    box-shadow: 0 0 35px greenyellow;
} 
.botao_especifico{
    width: 10px;
    height: 10px;
    border-radius: 50px;
}
.botao_realizar_cadastro{
    position: fixed;
    align-self: flex-end;
    margin-bottom: 20px;
}
.botao_realizar_cadastro:hover{
    background-color: red;
    letter-spacing: 3px;
    box-shadow: 0 0 60px red;
}

.botao_especifico:hover{
    background-color: blueviolet;
    font-size: 30px;
    letter-spacing: 3px;
    box-shadow: 0 0 25px blueviolet;
}
.mensagem_erro{
    display: block;
    position: absolute;
    font-size: 20px;
    color: black;
    border: 0.5px solid orange;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
    opacity: 0;   
    cursor: default;
}

#input_nome:hover~#mensagem_erro_nome{
    opacity: 1;
}
/* #mensagem_erro_nome{
    top:200px;
} */

#input_username:hover~#mensagem_erro_username{
    opacity: 1;
}
/* #mensagem_erro_username{
    top:270px;
} */
#input_password:hover~#mensagem_erro_password{
    opacity: 1;
}
/* #mensagem_erro_password{
    top: 340px;
} */
#confirm_password:hover~#mensagem_erro_password_confirm{
    opacity: 1;
}

/* #mensagem_erro_password_confirm{
    top: 200px
} */

#input_email:hover~#mensagem_erro_email{
    opacity: 1;
}

/* #mensagem_erro_email{
    top:270px;
} */


