body{
    padding: 0;
    margin: 0;
    font-family: Poppins;
    scroll-behavior: smooth;
    background-color: #000;
}
html{
    scroll-behavior: smooth;
}

#header{
    background-color: rgb(255, 0, 234);
    border-bottom: purple 5px ridge;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    height: 80px;
    width: 100%;
    align-items: center;
    font-size: 20px;
    z-index: 999;
}

a{
    text-decoration: none;
    color: white;
}

.img_titulo{
    height: 80px;
    -webkit-text-stroke-width: 3px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
}

.lista_header{
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 600px;
    flex-direction: row;
    position: relative;
    left: 200px;
    margin-right: 10%;
}

#botao_sair{
    font-size: 20px;
    cursor: pointer;
    color: black;
}

.clickable{
    margin-right: 10px;
    cursor: pointer;
}
.carrossel{
    height: 700px;
    overflow: hidden;
    border-bottom: #000 solid 20px;
}
.barra_preta{
    height: 700px;
    width: 15vw;
    background-color: black;
    z-index: 1;
    position: relative;
}
.barra_preta1{
    float: left;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 63%, rgba(0,0,0,0.8) 78%, rgba(255,255,255,0) 100%);
}
.barra_preta2{
    float: right;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 63%, rgba(0,0,0,0.8) 78%, rgba(255,255,255,0) 100%);
}
.frase_carrossel{
    font-family: Lato;
    position: absolute;
    z-index: 5;
    top: 300px;
    color: white;
    font-size: 4.5em;
    width: 500px;
    -webkit-text-stroke-width: 3px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
    margin-left: 10%;
}

#carrossel_img{
    position: absolute;
    display: flex;
    margin-left: 7.5vw;
    margin-top: 80px;
    align-self: center;
    justify-self: center;
    transition: 0.5s;
    transform: translateX(0);
    height: 620px;
    width: 85vw;
    z-index: 0;
    background-size:cover;
    background-repeat: no-repeat;
}
#carrossel_img backgroundImage{
    height: 100%;
    width: 100%;
    }


footer{
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 150px;
    background-color: blueviolet;
}

.div_sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    font-family: Quicksand;
    color: black;
    height: 500px;
    font-size: 35px;
    background: rgb(0, 140, 255);
    background: radial-gradient(circle, rgb(0, 143, 209) 0%, rgb(0, 2, 94) 95%);
    border: rgb(255, 255, 255) 12px solid;
    border-radius: 50px;
}
.titulo_sobre{
    font-size: 50px;
    text-rendering: geometricPrecision;
}
.texto_sobre{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.div_jogos{
    height: 600px;
    display: flex;
    padding: 40px;
    background: rgb(0,0,83);
    background: linear-gradient(30deg, rgba(0,0,83,1) 0%, rgba(0,0,0,1) 75%);
}

.lista_jogos{
    display: flex;
    flex-direction: column;
    width: 20%;
    border: white 2px solid;
    overflow-y: scroll;
    background-color: rgba(0,0,100,1);
}

#sobre_jogos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-family: Tiro Kannada;
    font-size: 25px;
    background-color: rgb(90, 171, 173);
    width: 65%;
    padding: 10%;
    border: 9px solid rgb(0, 0, 141);
    border-radius: 5px;
    overflow:  hidden;
}

.lista_jogos{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.clickable_img{
    height: 25%;
    cursor: pointer;
}

.titulo_sobre{
    font-weight: bolder;
    font-size: 30px;
}
.genero_sobre{
    text-decoration: underline;
}
.screenshots img{
    width: 30%;
    height: 150px;
    border: solid black 1px;
    border-radius: 3px;
}

#sobre_padrao{
    font-size: 50px;
}

#sobre_boi{
    display: none;
}
#sobre_celeste{
    display: none;
}
#sobre_cuphead{
    display: none;
}
#sobre_dd{
    display: none;
}

#sobre_hades{
    display: none;
}

#sobre_hk{
    display: none;
}

#sobre_inside{
    display: none;
}

#sobre_limbo{
    display: none;
}

#sobre_oribf{
    display: none;
}

#sobre_oriww{
    display: none;
}

#sobre_skullgirls{
    display: none;
}

#sobre_sv{
    display: none;
}

#sobre_undertale{
    display: none;
}

.div_enquete{
    display: flex;
    padding: 20px;
    border: 10px black solid;
    height: 500px;
    background-color: rgb(75, 0, 173);
}

#votar_jogo{
    width: 20%;
    gap: 20px;
    font-family: Quicksand;
    background-color: rgb(0, 255, 170);
    padding: 10px;
    margin-bottom: 10px;
    border: 3px rgb(0, 0, 179) solid;
    border-radius: 20px;
}

.botao_voto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 120px;
    height: 30px;
    transition: 0.5s;
    background-color: rgb(255, 180, 41);
}

.botao_voto:hover{
    font-size: 25px;
    background-color: rgb(255, 136, 0);
}   

.grafico_votos{
    height: 460px;
    background-color: white;
    width: 60%;
    margin-left: 10%;
    justify-self: end;
    align-self: center;
}

.div_comentarios{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    height: 600px;
    background: rgb(3,0,56);
    background: linear-gradient(90deg, rgba(3,0,56,1) 0%, rgba(40,127,255,1) 100%);
}


.adicionar_comentario{
    font-family: Lato;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: darkmagenta;
    height: 80%;
    float: left;
    width: 300px;
}

#input_titulo{
    width: 250px;
    height: 30px;
    font-size: 15px;
}

#input_corpo{
    display: flex;
    text-align: start;
    word-wrap:break-word;
    text-justify: inter-word;
    width: 250px;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
    resize: none;
}

#exibir_comentarios{
    background-color: antiquewhite;
    height: 85%;
    width: 60%;
    border: solid rgb(0, 0, 194) 4px;
    box-shadow: 3px 3px 5px black ;
}